<h1>Mes produits qui ne sont pas des bières...</h1>

<p>{{salutation}}</p>
Est éditable (tous)<input type="checkbox" (click)="rendreEditable()" [checked]="estEditable">

<app-produit *ngFor="let unProduit of produits" [produit]="unProduit" [estEditable]="estEditable"></app-produit>


<!-- Exemple boucle, boucle sur soit même -->
<!-- <article *ngFor="let unProduit of produit">
    Est editable<input type="checkbox" [(ngModel)]="unProduit.editable">
    <ng-container *ngIf="estEditable || unProduit.editable">
        Nom :<input [(ngModel)] = unProduit.nom>
        Prix :<input [(ngModel)] = unProduit.prix>
    </ng-container>

    <ng-container *ngIf="!estEditable && !unProduit.editable">
        <span>{{unProduit.nom}}</span>
        <span>{{unProduit.prix}}</span>
    </ng-container>

    <span *ngIf="unProduit.prix < 50">Rabais</span>
</article> -->